@import 'normalize';
@import 'variables';

p, input {
  color: $regularTextColor;
  font-size: 14px;
}

input {
  padding: 1rem;
  border: 1.5px solid #E9ECEF;
  border-radius: 0.5rem;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

button {
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $boldTextColor;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  border: 1px solid #dededd;
  border-radius: 0.5rem;
  box-shadow: $boxShadow;
}